html,
body {
    background: #ffffff;
    height: 100%;
}

#formulario {
    width: 100%;
    max-width: 400px;
    padding: 0px;
    margin: auto;
    margin: 0 auto;
}


.btn-primary {
    background-color: #008898;
    border-color: #008898;

}

.btn-primary:hover {
    background-color: #007380;
    border-color: #007380;
    transition: 0.5s all;
}

#sign-in {
    margin: 5px auto;
}

.style-modal {
    background: #008898;
}

.title-modal {
    color: #FFFFFF;
    text-align: center;
    display: relative;
    font-weight: bold;
}

.close {
    color: #ffffff;
}

.close:hover {
    color: #ffffff;
}

.label-modal {
    text-align: left;
    display: flex;
    font-weight: bold;
}

.modal-open .modal {
    background-color: rgba(0, 0, 0, .8) !important;
}


.sidebar {
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: table-row;
    width: 100%;
}

.img-sidebar {
    background-repeat: no-repeat;
    border-radius: 50% 0% 0% 50%;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    display: table-row;
}


.sidebar-container {
    display: table;
}

.title-sidebar {
    color: #FFFFFF;
     !important;
    font-weight: bold;
    font-size: 32px;
}

.text-sidebar {
    color: #FFFFFF;
    font-size: 20px;
}

.icons-sidebar {
    font-size: 25px;
     !important;
    width: 100%;

}

.icons-sidebar a:hover {
    color: rgba(0, 0, 0, .4);
}

.icons {
    color: #FFFFFF;
}

div.row.justify-content-center {
    margin: 0;
}

.text-footer {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
