html {
    height: 100%
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
}

.container-form {
    display: flex;
    max-width: 100%;
}

#formulario {
    width: 940px;
    max-width: 400px;
    padding: 0px;
    margin-right: 30px;
}

.form-control {
    margin: 5px;
}

.lembrar-check {
    margin-top: 10px;
}

.recuperar-senha {
    color: #008898;
     !inportant;
    text-decoration: none;
}

.recuperar-senha:hover {
    color: #007380;
     !inportant;
    text-decoration: none;
    transition: 0.5s all;
}

.possui-cadastro {
    margin: 5px auto;
}

#cadastrar {
    color: #008898;
    font-weight: bold;
    text-decoration: none;
}

.btn-primary {
    background-color: #008898;
    border-color: #008898;

}

.btn-primary:hover {
    background-color: #04616c;
    border-color: #04616c;
    transition: 0.5s all;
}


/* INICIO CSS MODAL */


.modal-content {
    background: transparent;
}

.modal-header {
    background: transparent;
    border: none;
}

.title-modal {
    color: #008898;
    text-align: center;
    display: relative;
    font-weight: bold;
}

.close {
    color: #ffffff;
}

.close:hover {
    color: #ffffff;
}

.label-modal {
    text-align: left;
    display: flex;
    font-weight: bold;
    color: #FFFFFF;
}

.input-modal {
    background: transparent;
    border: 2px solid #008898;


}

.small-text {
    text-align: center;
}

.btn-modal {
    width: 100%;
    padding: 10px;
    font-weight: bold;
}

.btn-modal-login {
    background: transparent;
    width: 50%;
}

.btn-modal-login:hover {
    background: #008898;
}

.modal-open .modal {
    background-color: rgba(0, 0, 0, .9) !important;
}

.small-text {
    color: #FFFFFF;
    font-weight: bold;
}

.modal-footer {
    display: inline-block;
    text-align: center;
    width: 100%;
     !important;
    padding: 0;
}

.modal-footer {
    border: none;
}


/*INÍCIO CSS SIDEBAR */


.img-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-repeat: no-repeat;
    height: 100%;
    width: 45em;
    border-radius: 50% 0 0% 50%;
}

.side-content {
    margin-top: 20px;
    margin-left: 50px;
    display: fixed;
    width: 100%
}

.title-sidebar {
    color: #FFFFFF;
     !important;
    font-weight: bold;
    font-size: 32px;
    display: flex;
    top: 0;
    width: 100%
}

.text-sidebar {
    color: #FFFFFF;
    font-size: 22px;
    width: 100%;
}

.icons-sidebar {
    font-size: 25px;
     !important;
    width: 100%;
    z-index: 15;
    position: relative;
    display: flex;
}

.icons:hover {
    color: rgba(0, 0, 0, .4);
}

.icons {
    color: #ffffff;
}



/* CONFIGURAÇÕES RESPONSIVO */

/* MOBILE */
@media screen and (max-width:767px) {

    body {
        z-index: 1;
    }

    .title-sidebar,
    .text-sidebar,
    .img-sidebar {
        display: none;
    }

    .icons-sidebar {
        position: fixed;
        width: 100%;
        height: 43%;
        font-size: 1.7em;
        align-items: flex-end;
         !important;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -75px;


    }

    .icons-color {
        color: #008898;
         !important;
    }

    .container-form,
    #modal-cadastro {
        position: fixed;
        align-items: center;
        text-align: center;
        z-index: 20;
        width: 100%;
        margin-right: 10px;
        padding-left: 5px;
    }

    .modal-backdrop {
        display: none;
    }
}

/* TABLET */
@media screen and (min-width:768px) and (max-width:1024px) {


    body {
        z-index: 1;
    }

    #formulario {
        margin: 0;
    }

    .title-sidebar,
    .text-sidebar,
    .img-sidebar {
        display: none;
    }

    .icons-sidebar {
        position: fixed;
        width: 100%;
        height: 43%;
        font-size: 1.7em;
        align-items: flex-end;
         !important;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -95px;
    }

    .icons-color {
        color: #008898;
         !important;
    }

    .container-form {
        position: fixed;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding-left: 5px;
        z-index: 20;
    }

    #modal-cadastro {
        z-index: 30;
        position: fixed;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-right: 10px;
        padding-left: 5px;
    }

    .modal-backdrop {
        display: none;
    }

}

/* 1368 */
@media screen and (min-width:1025px) and (max-width:1520px) {


    body {
        z-index: 1;
    }

    #formulario {
        margin-right: 17em;

    }

    .icons-sidebar {
        width: 100%;
        font-size: 1.7em;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .container-form {
        justify-content: center;
        text-align: center;
        width: 100%;
        padding-left: 5px;
        z-index: 20;
    }

    #modal-cadastro {
        z-index: 30;
        position: fixed;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-right: 10px;
        padding-left: 5px;
    }

    .modal-backdrop {
        display: none;
    }

}

/* 1920+ */
@media screen and (min-width:1521px) and (max-width:1920px) {


    body {
        z-index: 1;
    }

    #formulario {
        margin-right: 17em;

    }

    .img-sidebar {
        width: 50%;
    }

    .title-sidebar {
        font-size: 3em;
    }

    .text-sidebar {
        font-size: 2em;
    }

    .icons-sidebar {
        width: 100%;
        font-size: 2.5em;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }


    .container-form {
        justify-content: center;
        text-align: center;
        width: 100%;
        padding-left: 5px;
        z-index: 20;
    }

    #modal-cadastro {
        z-index: 30;
        position: fixed;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-right: 10px;
        padding-left: 5px;
    }

    .modal-backdrop {
        display: none;
    }

}

/* 4k */
@media screen and (min-width:1921px) and (max-width:4096px) {


    body {
        z-index: 1;
    }

    #formulario {
        margin-right: 17em;

    }

    .img-sidebar {
        width: 50%;
    }

    .title-sidebar {
        font-size: 5em;
    }

    .text-sidebar {
        font-size: 4em;
    }

    .icons-sidebar {
        width: 100%;
        font-size: 4em;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .icons {
        margin: 15px;
    }

    .container-form {
        text-align: center;
        width: 100%;
        padding-left: 5px;
        z-index: 20;
    }

    #modal-cadastro {
        z-index: 30;
        position: fixed;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-right: 10px;
        padding-left: 5px;
    }

    .modal-backdrop {
        display: none;
    }

}
